/* Add this CSS in your stylesheet or inside your component */
.options-scrollbar {
  scrollbar-width: 6px; /* For Firefox */
  scrollbar-color: rgba(131, 53, 134, 0.2); /* For Firefox */

  &::-webkit-scrollbar {
    width: 6px; /* You can adjust the width */
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(131, 53, 134, 0.2); /* Thumb color */
    border-radius: 20px;
  }

  &::-webkit-scrollbar-track {
    background-color: white; /* Track color */
  }
}
